.site-layout-content {
  width: 100%;
  margin-top: 10px;
  padding: 2px;
  background-color: #fafafa;
  align-items: center;
  margin-bottom: 20px;
}
.mainWrapper {
  height: 100%;
  width: 70%;
  margin: auto;
}
.mainContainer {
  padding: 30px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.leftSide {
  flex: 1;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-left: -75px;
}
.rightSide {
  flex: 1;
  height: 90%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.ant-select-selector {
  border-radius: 5px !important;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  height: 50px;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding-top: 8px;
}
.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector {
  padding: 0 11px;
  height: 50px;
  padding-top: 6px;
  margin-top: 2px;
}
